In [1]:
import pandas as pd
from dateutil import parser

# Step 1: Read the raw file and clean column names
df = pd.read_csv('data.csv')
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Step 2: Check the raw post_date strings
print(df['post_date'].head(10))

# Step 3: Parse post_date safely
def safe_parse(x):
    try:
        return parser.parse(x, dayfirst=False)
    except:
        return pd.NaT

df['post_date'] = df['post_date'].apply(safe_parse)

0     2025-05-01
1     2025-05-03
2    05-May-2025
3     2025-05-06
4     2025-05-08
5    10-May-2025
6     2025-05-11
7     2025-05-12
8     2025-05-15
9    16-May-2025
Name: post_date, dtype: object

In [3]:
df

,post_id,post_date,platform,post_type,likes,comments,shares,impressions,reach,follower_count_at_time_of_post
0,101,2025-05-01,Facebook,Image,"1,256",88,45.0,15250,9870,50000
1,102,2025-05-03,Instagram,Video,"5,890",230,112.0,45300,31450,75000
2,103,2025-05-05,TikTok,Video,"12,400",450,560.0,120500,98000,22000
3,104,2025-05-06,facebook,Image,980,45,NaN,12300,8750,50100
4,105,2025-05-08,Instagram,Image,"3,100",150,88.0,28700,19800,75500
5,106,2025-05-10,Facebook,Text,550,30,15.0,8500,6200,50150
6,107,2025-05-11,TikTok,Video,NaN,680,890.0,155000,125000,23500
7,108,2025-05-12,Instagram,Video,"6,200",280,130.0,51000,35000,75800
8,109,2025-05-15,FB,Link,430,25,10.0,7200,5100,50200
9,110,2025-05-16,Instagram,Image,"2,950",140,80.0,27500,18900,76000
10,110,2025-05-16,Instagram,Image,"2,950",140,80.0,27500,18900,76000
11,111,2025-05-18,TikTok,Video,"15,800",890,1100.0,210000,180000,25000
12,112,2025-05-20,Facebook,Video,"2,800",120,95.0,25000,18000,50500
13,113,2025-05-22,Instagram,Image,"3,500",180,90.0,31000,22000,76500
14,114,2025-05-23,LinkedIn,Text,"1,100",95,150.0,18000,11000,15000
15,115,2025-05-25,facebook,Image,1100,55,30.0,14000,9500,50600
16,116,2025-06-01,Instagram,Video,"7,100",310,150.0,62000,45000,77000
17,117,2025-06-02,TikTok,Video,"18,200",1100,1500.0,250000,210000,28000
18,118,2025-06-04,Facebook,Image,"1,500",100,60.0,18000,12000,50800
19,119,2025-06-05,Instagram,Image,NaN,160,85.0,30000,21000,77500
20,120,2025-06-07,LinkedIn,Text,"1,300",110,180.0,21000,14000,15500
21,121,2025-06-08,FB,Video,"3,200",150,110.0,30000,22000,51000
22,122,2025-06-10,TikTok,Video,"22,000",1500,2000.0,310000,280000,32000
23,123,2025-06-12,Instagram,Reel,"9,500",400,200.0,85000,65000,78000
24,124,2025-06-14,Facebook,Image,"1,800",110,70.0,20000,14000,51200
25,125,2025-06-15,LinkedIn,Image,980,80,120.0,16000,10000,16000

Convert likes to Numeric

In [6]:
df['likes'] = df['likes'].astype(str).str.replace(',', '', regex=False)  # remove commas
df['likes'] = pd.to_numeric(df['likes'], errors='coerce')  # convert to numbers


Replace missing shares with the median of the column:

In [9]:
# Step: Fill missing 'shares' value with the column's median
median_value = df['shares'].median()
df['shares'] = df['shares'].fillna(median_value)

In [11]:
df

,post_id,post_date,platform,post_type,likes,comments,shares,impressions,reach,follower_count_at_time_of_post
0,101,2025-05-01,Facebook,Image,1256.0,88,45.0,15250,9870,50000
1,102,2025-05-03,Instagram,Video,5890.0,230,112.0,45300,31450,75000
2,103,2025-05-05,TikTok,Video,12400.0,450,560.0,120500,98000,22000
3,104,2025-05-06,facebook,Image,980.0,45,110.0,12300,8750,50100
4,105,2025-05-08,Instagram,Image,3100.0,150,88.0,28700,19800,75500
5,106,2025-05-10,Facebook,Text,550.0,30,15.0,8500,6200,50150
6,107,2025-05-11,TikTok,Video,NaN,680,890.0,155000,125000,23500
7,108,2025-05-12,Instagram,Video,6200.0,280,130.0,51000,35000,75800
8,109,2025-05-15,FB,Link,430.0,25,10.0,7200,5100,50200
9,110,2025-05-16,Instagram,Image,2950.0,140,80.0,27500,18900,76000
10,110,2025-05-16,Instagram,Image,2950.0,140,80.0,27500,18900,76000
11,111,2025-05-18,TikTok,Video,15800.0,890,1100.0,210000,180000,25000
12,112,2025-05-20,Facebook,Video,2800.0,120,95.0,25000,18000,50500
13,113,2025-05-22,Instagram,Image,3500.0,180,90.0,31000,22000,76500
14,114,2025-05-23,LinkedIn,Text,1100.0,95,150.0,18000,11000,15000
15,115,2025-05-25,facebook,Image,1100.0,55,30.0,14000,9500,50600
16,116,2025-06-01,Instagram,Video,7100.0,310,150.0,62000,45000,77000
17,117,2025-06-02,TikTok,Video,18200.0,1100,1500.0,250000,210000,28000
18,118,2025-06-04,Facebook,Image,1500.0,100,60.0,18000,12000,50800
19,119,2025-06-05,Instagram,Image,NaN,160,85.0,30000,21000,77500
20,120,2025-06-07,LinkedIn,Text,1300.0,110,180.0,21000,14000,15500
21,121,2025-06-08,FB,Video,3200.0,150,110.0,30000,22000,51000
22,122,2025-06-10,TikTok,Video,22000.0,1500,2000.0,310000,280000,32000
23,123,2025-06-12,Instagram,Reel,9500.0,400,200.0,85000,65000,78000
24,124,2025-06-14,Facebook,Image,1800.0,110,70.0,20000,14000,51200
25,125,2025-06-15,LinkedIn,Image,980.0,80,120.0,16000,10000,16000

In [13]:
likes_median = df['likes'].median()
df['likes'] = df['likes'].fillna(likes_median)

In [15]:
df

,post_id,post_date,platform,post_type,likes,comments,shares,impressions,reach,follower_count_at_time_of_post
0,101,2025-05-01,Facebook,Image,1256.0,88,45.0,15250,9870,50000
1,102,2025-05-03,Instagram,Video,5890.0,230,112.0,45300,31450,75000
2,103,2025-05-05,TikTok,Video,12400.0,450,560.0,120500,98000,22000
3,104,2025-05-06,facebook,Image,980.0,45,110.0,12300,8750,50100
4,105,2025-05-08,Instagram,Image,3100.0,150,88.0,28700,19800,75500
5,106,2025-05-10,Facebook,Text,550.0,30,15.0,8500,6200,50150
6,107,2025-05-11,TikTok,Video,2950.0,680,890.0,155000,125000,23500
7,108,2025-05-12,Instagram,Video,6200.0,280,130.0,51000,35000,75800
8,109,2025-05-15,FB,Link,430.0,25,10.0,7200,5100,50200
9,110,2025-05-16,Instagram,Image,2950.0,140,80.0,27500,18900,76000
10,110,2025-05-16,Instagram,Image,2950.0,140,80.0,27500,18900,76000
11,111,2025-05-18,TikTok,Video,15800.0,890,1100.0,210000,180000,25000
12,112,2025-05-20,Facebook,Video,2800.0,120,95.0,25000,18000,50500
13,113,2025-05-22,Instagram,Image,3500.0,180,90.0,31000,22000,76500
14,114,2025-05-23,LinkedIn,Text,1100.0,95,150.0,18000,11000,15000
15,115,2025-05-25,facebook,Image,1100.0,55,30.0,14000,9500,50600
16,116,2025-06-01,Instagram,Video,7100.0,310,150.0,62000,45000,77000
17,117,2025-06-02,TikTok,Video,18200.0,1100,1500.0,250000,210000,28000
18,118,2025-06-04,Facebook,Image,1500.0,100,60.0,18000,12000,50800
19,119,2025-06-05,Instagram,Image,2950.0,160,85.0,30000,21000,77500
20,120,2025-06-07,LinkedIn,Text,1300.0,110,180.0,21000,14000,15500
21,121,2025-06-08,FB,Video,3200.0,150,110.0,30000,22000,51000
22,122,2025-06-10,TikTok,Video,22000.0,1500,2000.0,310000,280000,32000
23,123,2025-06-12,Instagram,Reel,9500.0,400,200.0,85000,65000,78000
24,124,2025-06-14,Facebook,Image,1800.0,110,70.0,20000,14000,51200
25,125,2025-06-15,LinkedIn,Image,980.0,80,120.0,16000,10000,16000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   post_id                         26 non-null     int64
 1   post_date                       26 non-null     datetime64[ns]
 2   platform                        26 non-null     object
 3   post_type                       26 non-null     object
 4   likes                           26 non-null     float64
 5   comments                        26 non-null     int64
 6   shares                          26 non-null     float64
 7   impressions                     26 non-null     int64
 8   reach                           26 non-null     int64
 9   follower_count_at_time_of_post  26 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 2.2+ KB

In [19]:
df.isnull().sum()

post_id                           0
post_date                         0
platform                          0
post_type                         0
likes                             0
comments                          0
shares                            0
impressions                       0
reach                             0
follower_count_at_time_of_post    0
dtype: int64

In [21]:
# 1. Engagement Rate (%) = (likes + comments + shares) / reach * 100
df['total_engagement'] = df['likes'] + df['comments'] + df['shares']
df['engagement_rate'] = (df['total_engagement'] / df['reach']) * 100

# 2. Virality Rate (%) = shares / impressions * 100
df['virality_rate'] = (df['shares'] / df['impressions']) * 100

# 3. Average Reach by Platform
avg_reach_by_platform = df.groupby('platform')['reach'].mean()

# 4. Follower Growth Over Time (summary table)
follower_growth = df[['post_date', 'follower_count_at_time_of_post']].sort_values('post_date')

# 5. Engagement Rate by Post Type
engagement_by_post_type = df.groupby('post_type')['engagement_rate'].mean()

# --- Display KPIs ---

print("🔢 1. Engagement Rate (per post):")
print(df[['post_id', 'engagement_rate']].round(2))

print("\n🔥 2. Virality Rate (per post):")
print(df[['post_id', 'virality_rate']].round(2))

print("\n📈 3. Average Reach by Platform:")
print(avg_reach_by_platform.round(2))

print("\n📊 4. Follower Growth Trend:")
print(follower_growth)

print("\n🎯 5. Engagement Rate by Post Type:")
print(engagement_by_post_type.round(2))

🔢 1. Engagement Rate (per post):
    post_id  engagement_rate
0       101            14.07
1       102            19.82
2       103            13.68
3       104            12.97
4       105            16.86
5       106             9.60
6       107             3.62
7       108            18.89
8       109             9.12
9       110            16.77
10      110            16.77
11      111             9.88
12      112            16.75
13      113            17.14
14      114            12.23
15      115            12.47
16      116            16.80
17      117             9.90
18      118            13.83
19      119            15.21
20      120            11.36
21      121            15.73
22      122             9.11
23      123            15.54
24      124            14.14
25      125            11.80

🔥 2. Virality Rate (per post):
    post_id  virality_rate
0       101           0.30
1       102           0.25
2       103           0.46
3       104           0.89
4       105           0.31
5       106           0.18
6       107           0.57
7       108           0.25
8       109           0.14
9       110           0.29
10      110           0.29
11      111           0.52
12      112           0.38
13      113           0.29
14      114           0.83
15      115           0.21
16      116           0.24
17      117           0.60
18      118           0.33
19      119           0.28
20      120           0.86
21      121           0.37
22      122           0.65
23      123           0.24
24      124           0.35
25      125           0.75

📈 3. Average Reach by Platform:
platform
FB            13550.00
Facebook      12014.00
Instagram     30783.33
LinkedIn      11666.67
TikTok       178600.00
facebook       9125.00
Name: reach, dtype: float64

📊 4. Follower Growth Trend:
    post_date  follower_count_at_time_of_post
0  2025-05-01                           50000
1  2025-05-03                           75000
2  2025-05-05                           22000
3  2025-05-06                           50100
4  2025-05-08                           75500
5  2025-05-10                           50150
6  2025-05-11                           23500
7  2025-05-12                           75800
8  2025-05-15                           50200
9  2025-05-16                           76000
10 2025-05-16                           76000
11 2025-05-18                           25000
12 2025-05-20                           50500
13 2025-05-22                           76500
14 2025-05-23                           15000
15 2025-05-25                           50600
16 2025-06-01                           77000
17 2025-06-02                           28000
18 2025-06-04                           50800
19 2025-06-05                           77500
20 2025-06-07                           15500
21 2025-06-08                           51000
22 2025-06-10                           32000
23 2025-06-12                           78000
24 2025-06-14                           51200
25 2025-06-15                           16000

🎯 5. Engagement Rate by Post Type:
post_type
Image    14.73
Link      9.12
Reel     15.54
Text     11.06
Video    13.42
Name: engagement_rate, dtype: float64

Save to CSV

In [24]:
df.to_csv('cleaned_data.csv', index=False)

Save to Excel

In [25]:
df.to_excel('cleaned_data.xlsx', index=False)